
html
{
	font-family: 'Roboto', sans-serif;
	margin: 5%;
	margin-top: 4%;
}

body
{
	border: 1px solid #b6b6b6;
	padding: 10%;
	border-radius: 10px;
}
details	:hover
{
	cursor: pointer;
}

details
{
	margin-bottom: 1%;
	color: rgb(68, 68, 68);
}



input
{
	border: 1px solid #6f6f6f !important;
	text-align:right;
}
input:focus
{
	border: 1px solid #23A455 !important;
	outline: 0 !important;
}

summary:focus
{
    outline: 0 !important;
		border: 0px solid #23A455; !important;
}

#searchValue{
	margin: 20px;
	font-size: 13pt;
	color:#23A455;
}
#searchValueEuro{
	margin-top: 20px;
	font-size: 13pt;
	color:#23A455;
}
#searchValueEuroDiff
{
	margin-top: 20px;
	font-size: 13pt;
	color:#23A455;
}
input
{
	background-color: white;
	border: 1px solid black; !important;
	height: 20px;
	border-radius: 6px;
}
h1
{
	color: #676767;
}

/*

#calculus
{
	bottom-Margin: 40px;
	hight: 100px;
	width: auto;
}


#calc {
	background: royalblue;
	border: 1px solid darkblue;
	border-radius: 0.5em;
	box-shadow: inset 0 0 5px white;
	display: inline-block;
	padding: 1em 0;
	text-align: center;
	width: 15em;
}

#calc output {
	display: block;
	height: 1.5em;
	background: white;
	text-align: right;
	font-size: 100%;
	padding-right: 5%;
	margin: 5px 6%;
}

#calc fieldset {
	border: none;
	margin: 0 auto;
	padding-bottom: 0;
}

#calc button {
	cursor: pointer;
	margin: 5px 2%;
	width: 18%;
}

#usage {
	display: inline-block;
	padding: 0 0 0 2em;
	vertical-align: top;
}

/*
#iframe [seamless] window {
	/*All answers here which mention scrollHeight/scrollWidth should be adjusted a bit to take body margins into account.
	Browsers apply default nonzero margins for documents' body element (and it's also applicable to content loaded into frames).
	The working solution I found is to add this:
	parseInt(window.getComputedStyle(this.contentDocument.body).margin. � Stan Nov 4 '19 at 21:50
	width: 100%;
	hight: 500px;
	border: none;
	scrolling: no;
	overflow:hidden;
}


*/
